
* {
    font-family: 'Merriweather', serif;
}

header, h1 {
    background-color: rgb(42, 54, 71);
    color: white;
    text-align: center;
    margin: 0px 0px;
    padding: 10px 0px;
    font-size: 19px;
}

h2 {
    font-size: 19px;
}

h2, .desc {
text-align: center;
}

.desc {
    color: gray;
    font-size: 16px;
    padding-bottom: 15px;
}

body {
    background-color: rgb(243, 243, 243);
}

label {
    color: gray;
    ;
}

input, select {
    padding: 10px;
    text-align: right;
    margin: 8px 0px;
    border-radius: 5px;
}

hr {
margin: 20px 0px;
}

button {
    background-color: rgb(34, 167, 167);
    color: white;
    padding: 18px 85px;
    border: 0px;
    border-radius: 5px;
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 20px;
}

input, textarea, select {
    border: 0px;
    background-color: rgb(224, 223, 223);
    color:rgb(145, 145, 145)
}

body {
    margin: 0px;
}

fieldset {
    margin: 0px 0px;
    border: 5px;
    padding: 15px;
}

.container {
    font-size: 16px;
}

.contact-information input, .contact-information label{
    display: block;
}

.contact-information input, textarea, select {
    width: 100%;
    border: 2px solid transparent;
}

.contact-information {
    margin-right: 25px;
}

textarea {
    height: 7em;
    margin-top: 15px;
}

.info {
   padding: 0px; 
   margin-bottom: 8px;
   margin-top: 12px;
   text-align: left;
}

.copyright{
    margin-bottom: 8em;
    text-align: center;
}

#zip_code {
    width: 40%;
}

#state {
    width:100%;
}

p {
    margin-top: 15px;
    margin-bottom: 0px;
}


@media (min-width:768px) {  




    
/*
body {
    margin:0em 10em;
}

h2 {
    margin-top: 2em;
}

header {
    margin: 0px;
}
}