
* {
    font-family: 'Merriweather', serif;
}

header, h1 {
    background-color: rgb(42, 54, 71);
    color: white;
    text-align: center;
    margin: 0px 0px;
    padding: 10px 0px;
}

h2, p {
text-align: center;
}

p {
    color: gray;
}

body {
    background-color: rgb(243, 243, 243);
}

label {
    color: gray;
}

hr {
margin: 20px 0px;
}

button {
    background-color: rgb(34, 167, 167);
    color: white;
    padding: 15px 115px;
    border: 0px;
    border-radius: 5px;
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 18px;
}

input, textarea, select {
    border: 0px;
    background-color: rgb(224, 223, 223);
    color:rgb(145, 145, 145)
}

body {
    margin: 0px;
}

fieldset {
    text-decoration: none;
}

@media (min-width:768px) {



}